ion-buttons {
    ion-icon {
        color: #000;
        font-size: 20px;
        padding-left: 10px;
    }
}

.addressField {
    margin-bottom: 120px;
    ion-grid {
        ion-row {
            ion-col {
                ion-list {
                    padding: 0 !important;
                    ion-radio-group {
                        width: 100%;
                        ion-list-header {
                            ion-label {
                                color: #000;
                                font-size: 20px;
                            }
                        }
                        ion-item {
                            border: none !important;
                            ion-label {
                                span {
                                    width: 100%;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

ion-item {
    border: none !important;
    ion-label {
        color: #333;
        line-height: 20px;
        text-align: left;
        font-size: 15px;
        span {
            width: 100%;
            display: block;
        }
    }
}

.deliveryLabel {
    color: #000;
    font-size: 16px !important;
    font-weight: 600;
}

// .addAddress {
//     display: inline-block;
//     background: #fff;
//     color: #000000;
//     padding: 10px 15px;
//     font-weight: 500;
//     letter-spacing: 0.5px;
//     text-align: center;
//     border-radius: 5px;
//     border: 1px solid #000;
//     float: right;
//     margin: 0px 5px 30px 0px;
// }
.shippingAddressGroup {
    display: flex;
    background: #fff;
    ion-label {
        width: 90%;
        span {
            color: #444;
            padding-bottom: 1px;
            line-height: 22px;
            text-align: left;
            text-transform: capitalize;
            b {
                color: #000000;
            }
            &.wdt100 {
                width: 100%;
                display: block;
            }
        }
    }
}

.edit-btn {
    text-align: center;
    color: #fca411;
    font-weight: 500;
    padding: 2px 0;
    font-size: 15px;
}

.addressbox {
    background: #fff;
    padding: 15px 3px 6px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
}

.useAddress {
    padding: 15px 0px 0;
    vertical-align: middle;
    background: #fff;
    display: flex;
    align-items: center;
    span {
        padding-left: 10px;
        color: #444;
    }
}

.addCircle {
    --background: #fca411;
}

ion-fab {
    bottom: 75px;
    box-shadow: none;
}

.hightlight {
    background-color: yellow;
}

.brd-top {
    border-bottom: 1px solid #e4e4e4 !important;
    padding-bottom: 15px;
}
.addressColumn {
    background: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
    color: #333;
    border-radius: 5px;
    .manageAd {
        padding: 15px 15px 15px;
        position: relative;
        ion-badge{
            position: absolute;
            top: 15px;
            right: 15px;
            --background: #f8f8f8;
            background: #e9e5e5;
            color: #5e5d5d;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: right;
        li {
            display: inline-block;
            width: 50%;
            text-align: center;
            ion-text {
                padding: 10px;
                display: block;
                &.editBtn {
                    color: #fca411;
                    background: #fff;
                    padding: 10px 0px 10px 0px;
                    font-size: 15px;
                    border-top: 1px solid #ccc;
                    border-left: 1px solid #ccc;
                }
                &.DeleteBtn {
                    color: #000;
                    background: #fff;
                    padding: 10px 0px 10px 0px;
                    font-size: 15px;
                    border-top: 1px solid #ccc;
                }
            }
        }
    }
    p {
        padding: 5px 0 0;
        margin: 0;
    }
    .delBtn {
        display: block;
        border-radius: 5px;
        border: 1px solid #fca411;
        padding: 10px 5px;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-align: center;
        border-radius: 30px !important;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.19);
        text-transform: uppercase !important;
        margin: 0 10px !important;
        font-size: 13px;
    }
    .editBtn {
        display: block;
        border-radius: 5px;
        border: 1px solid #000;
        padding: 10px 5px;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-align: center;
        border-radius: 30px !important;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.19);
        text-transform: uppercase !important;
        margin: 0 10px !important;
        font-size: 13px;
    }
}