<ion-header no-border-bottom>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
            <ion-icon name="arrow-back" (click)="back()"></ion-icon>
        </ion-buttons>
        <ion-title>Address</ion-title>
        <ion-buttons slot="end" (click)="viewcart()">
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            <ion-badge id="cart-badge" color="danger">{{cartcount}}</ion-badge>
        </ion-buttons>
    </ion-toolbar>
    </ion-header>

<ion-content>
  <div *ngIf = "type != 'address'">
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-list>
                    <ion-radio-group>
                        <ion-list-header>
                            <ion-label class="deliveryLabel">Delivery Address</ion-label>
                        </ion-list-header>
                        <ion-item *ngFor="let address of getalladdress">
                            <ion-label style="white-space: normal !important;">{{address.address}},{{address.city}},{{address.state}}</ion-label>
                            <ion-radio (ionSelect)="radioSelects($event,address.id)" slot="start" value="{{address.first_name}},{{address.address}},{{address.city}},{{address.state}}"></ion-radio>
                        </ion-item>
                    </ion-radio-group>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="ion-padding">
        <ion-button expand="block" (click)="addAddress()" color="dark" class="ion-no-margin">Add Address</ion-button>
    </div>
    <div class="ion-padding">
        <ion-button expand="block" (click)="next()" color="dark" class="ion-no-margin">Next</ion-button>
    </div>
    </div>
    <form [formGroup]="checkoutForm" *ngIf="addaddress">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">

            <ion-item>
                <ion-label position="stacked">Address
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input formControlName="address"></ion-input>
            </ion-item>
            <p *ngIf="!checkoutForm.controls.address.valid && (checkoutForm.controls.address.dirty || submitAttempt)" class="err-reds shake">Please enter name.</p>
            <ion-item>
                <ion-label position="stacked">Landmark</ion-label>
                <ion-input formControlName="landmark"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">City
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input formControlName="city"></ion-input>
            </ion-item>
            <p *ngIf="!checkoutForm.controls.city.valid && (checkoutForm.controls.city.dirty || submitAttempt)" class="err-reds shake">Please enter name.</p>
            <ion-item>
                <ion-label position="stacked">State
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input formControlName="state"></ion-input>
            </ion-item>
            <p *ngIf="!checkoutForm.controls.state.valid && (checkoutForm.controls.state.dirty || submitAttempt)" class="err-reds shake">Please enter name.</p>
            <ion-item>
                <ion-label position="stacked">Zipcode
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input formControlName="zipcode"></ion-input>
                <p *ngIf="!checkoutForm.controls.zipcode.valid && (checkoutForm.controls.zipcode.dirty || submitAttempt)" class="err-reds shake">Please enter name.</p>
            </ion-item>
        </ion-list>
    </form>
    <div class="ion-padding" *ngIf="addaddress">
        <ion-item>
            <ion-button *ngIf = "type != 'address'" expand="block" (click)="cancel()" color="danger" class="ion-no-margin">Cancel</ion-button>
            <ion-button expand="block" (click)="submitaddress()" color="warning" slot="end" class="ion-no-margin">Save And Deliver Here</ion-button>
        </ion-item>
    </div>
</ion-content>
