<ion-header no-border-bottom>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
            <ion-icon name="arrow-back" (click)="back()"></ion-icon>
        </ion-buttons>
        <ion-title>Otp Verification</ion-title>
        <ion-buttons slot="end" (click)="viewcart()">
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            <ion-badge id="cart-badge" color="danger">{{cartcount}}</ion-badge>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">OTP</ion-label>
        <ion-input [(ngModel)]="mobileotp.firebasemobileotp"></ion-input>
      </ion-item>
      <div class="ion-padding">
          <ion-button expand="block" (click)="otpsubmit()" class="ion-no-margin">Submit</ion-button>
        </div>
</ion-content>
