<ion-header no-border-bottom>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
            <ion-icon name="arrow-back" (click)="back()"></ion-icon>
        </ion-buttons>
        <ion-title>View Order Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-grid *ngFor = "let order of getsingleorder">
            <ion-row>
                <ion-col size="6"><b>Order No_ {{order.order_id}}</b></ion-col>
                <ion-col size="6" *ngIf="order.status == '1'">{{order.ordered_date | date: 'dd/MM/yyyy'}}</ion-col>
                <ion-col size="6" *ngIf="order.status == '2'">{{order.delivered_date | date: 'dd/MM/yyyy'}}</ion-col>
                <ion-col size="6" *ngIf="order.status == '3'">{{order.cancelled_date | date: 'dd/MM/yyyy'}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6"> <p color="warning">Total Cost: <i class="fa fa-inr"></i>{{totalamount | number : '1.2-2'}}</p></ion-col>
            
                <ion-col size="6" *ngIf="order.status == 2">
                    <ion-text color="success">Delivered</ion-text>
                </ion-col>
                <ion-col size="6" *ngIf="order.status == 1">
                    <ion-text color="warning">Processing</ion-text>
                </ion-col>
                <ion-col size="6" *ngIf="order.status == 3">
                    <ion-text color="danger">Cancelled</ion-text>
                </ion-col>
            </ion-row>


            <div class="cartProduct" *ngFor="let orderdetails of order.items">
                <div class="mycartProduct">
                    <div class="productImage">
                        <ion-thumbnail slot="start">
                            <img [src]="imgURl + orderdetails.product_image">
                        </ion-thumbnail>
                    </div>
                    <div class="productContent">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="8">
                                    <h3>{{orderdetails.product_name}}</h3>
                                </ion-col>
                                <ion-col size="4">
                                    <p color="warning"><i class="fa fa-inr"></i>{{orderdetails.amount | number : '1.2-2'}}</p>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="8">
                                    <div class="quantity">
                                       <p>Qty: {{orderdetails.quantity}}</p>
                                    </div>
                                </ion-col>
                                <ion-col size="4" *ngIf="order.status == 1">
                                    <span (click)="presentAlertConfirm(orderdetails.id)" class="closeBtn"><ion-icon name="close"></ion-icon></span>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </div>
            </div>

            <ion-list>
                <ion-list-header>
                    <ion-label>Order Information</ion-label>
                </ion-list-header>
                <ion-item>
                    <p>Shipping Address: <span>{{order.address}},{{order.city}},{{order.state}} - {{order.zipcode}}</span></p>
                </ion-item>
                <ion-item>
                    <p>Payment Method:<span>Cash On Delivery</span></p>
                </ion-item>
            </ion-list>
        </ion-grid>
    </ion-list>
 
  
</ion-content>