<ion-header no-border-bottom>
    <ion-toolbar>
        <ion-buttons *ngIf="!toggled" slot="start">
            <ion-icon name="arrow-back" (click)="back()"></ion-icon>
        </ion-buttons>
        <ion-title *ngIf="!toggled">Category</ion-title>
        <ion-buttons slot="end">
            <ion-icon class="searchIcOn" *ngIf="!toggled" (click)="toggle()" name="search"></ion-icon>
        </ion-buttons>
        <ion-searchbar *ngIf="toggled" [(ngModel)]="term.searchText" (keyup.enter)="getItems(term.searchText)" (ionCancel)="cancelSearch($event)" (ionClear)="cancelSearch($event)" [showCancelButton]="true">
        </ion-searchbar>
    </ion-toolbar>
    <!-- <ion-toolbar class="ion-searchbar">
        <ion-searchbar [(ngModel)]="term.searchText" (ionCancel)="cancelSearch($event)" (keyup.enter)="getItems(term.searchText)"></ion-searchbar>
    </ion-toolbar> -->
</ion-header>

<ion-content padding class="categoryList bgWhite">
        <ng-container *ngFor="let category of getallcategories">
    <ion-list *ngIf = "category.status != 2">
        <div (click)="getsubcategory(category.category_id,category.category_name)">
            <ion-avatar slot="start">
                <img [src]="imgURl + category.category_image" />
            </ion-avatar>
            <ion-label>{{category.category_name}}</ion-label>
        </div>
    </ion-list>
</ng-container>
</ion-content>