<ion-content>
    <div class="LogoFull">
        <h2>CTL<span>Kart</span>.</h2>
        <h6>Your Online Store</h6>
    </div>
    <div class="onboard-logo">
        <div class="onboardimg">
            <img src="assets/img/icon.png" />
        </div>

    </div>
    <div style="padding:10px;">
        <ion-text class="loginBtn" shape="round" expand="block" (click)="gettingstarted()">Getting Started</ion-text>
        <ion-text class="forgetPassword" expand="block" (click)="signup()">Sign up for a new Account
        </ion-text>
    </div>
</ion-content>