<ion-header no-border-bottom>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon name="arrow-back" (click)="back()"></ion-icon>
        </ion-buttons>
        <ion-title>Change Password</ion-title>
    </ion-toolbar>
</ion-header>

<!-- <ion-content>
    <div class="ion-padding border-input">
        <ion-item>
            <ion-input class="currentpassword" type="text" placeholder="Current Password" [(ngModel)]="password.currentpassword"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input class="newpassword" type="text" placeholder="New Password" [(ngModel)]="password.newpassword"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input class="confirmpassword" type="text" placeholder="Confirm New Password" [(ngModel)]="password.confirmpassword"></ion-input>
        </ion-item>

    </div>
    <div padding>
        <ion-text class="loginBtn" color="cart" (click)="changePassword()">Submit</ion-text>
    </div>
</ion-content> -->


<ion-content class="changePassword">
    <form [formGroup]="changepasswordForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
     
          <div class="formList">
              <ion-label position="floating">Current password
                  <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="{{mytype}}" formControlName="currentPassword" required ></ion-input>
          </div>
          <p *ngIf="!changepasswordForm.controls.currentPassword.valid && (changepasswordForm.controls.currentPassword.dirty || submitAttempt)" class="err-reds shake">Please enter the current password.</p>

          <div class="formList">
              <ion-label position="floating">New password
                  <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="{{mytype}}"  [(ngModel)]="newPassword" formControlName="newPassword" required ></ion-input>
          </div>
          <p *ngIf="!changepasswordForm.controls.newPassword.valid && (changepasswordForm.controls.newPassword.dirty || submitAttempt)" class="err-reds shake">Please enter the new password.</p>

          <div class="formList">
              <ion-label position="floating">Re-enter password
                  <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input type="{{mytype}}" (focus)="reEnter()" formControlName="re_enterPassword" required ></ion-input>
          </div>
          <p *ngIf="!changepasswordForm.controls.re_enterPassword.valid && (changepasswordForm.controls.re_enterPassword.dirty || submitAttempt)" class="err-reds shake">Please re-enter the new password.</p>

<!--       
        <ion-label class="required">New password</ion-label>
        <ion-item>
          <ion-input type="{{mytype}}" formControlName="newPassword" [(ngModel)]="newPassword" placeholder="New password">
          </ion-input>
        </ion-item>
         <small *ngIf="!changepasswordForm.controls.newPassword.valid  && (changepasswordForm.controls.newPassword.dirty || submitAttempt)">
                <p class="err-reds">Please enter the new password</p>
          </small>
        <br>
        <ion-label class="required">Re-enter password</ion-label>
        <ion-item>
          <ion-input type="{{mytype}}" (focus)="reEnter()" formControlName="re_enterPassword" placeholder="Re-enter password"></ion-input>
        </ion-item>
        <small *ngIf="!changepasswordForm.controls.re_enterPassword.valid  && (changepasswordForm.controls.re_enterPassword.dirty || submitAttempt)">
          <p class="err-reds">Please re-enter the new password</p>
        </small> -->

        <div *ngIf="password_submit">
          <p class="err-reds">Did not match the new password</p>
        </div><br>
      </ion-list>
      </form>    
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <span class="showPassword">
        <ion-checkbox [(ngModel)]="show_password" (ionChange)="showPassword()"></ion-checkbox>&nbsp; Show password
      </span>
   </ion-list>
      <div padding>
        <ion-text class="loginBtn" color="cart" (click)="changePassword()">Submit</ion-text>
    </div>  
  
  
  
  </ion-content>
  <style>
    .gly-rotate-180 {
      filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      display: inline-block;
    }
  </style>