<ion-app>
    <ion-menu side="end" menuId="first">
        <ion-header>
            <ion-toolbar color="light">
                <ion-title>Ctl<span>kart</span></ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item (click)="home()">Home</ion-item>
                <ion-item (click)="shopbycategory()">Shop By Category</ion-item>
                <ion-item (click)="getmyorders()" *ngIf="showButton || token">My Orders</ion-item>
                <ion-item (click)="viewaccount()" *ngIf="showButton || token">My Account</ion-item>
                <ion-item (click)="changepassword()" *ngIf="showButton || token">Change Password</ion-item>
                <ion-item (click)="logout()" *ngIf="showButton || token">Logout</ion-item>
                <ion-item (click)="login()" *ngIf="login_status || !token">Login</ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>

    <ion-tabs *ngIf = "tabsbar">

        <ion-tab-bar slot="bottom">
        <ion-tab-button tab="dashboard">
      <ion-icon name="flash"></ion-icon>
       <ion-label>Home</ion-label>
       </ion-tab-button>
        
         <ion-tab-button tab="category">
       <ion-icon name="apps"></ion-icon>
        <ion-label>Shop</ion-label>
         </ion-tab-button>
        
         <ion-tab-button tab="viewcartproduct">
        <ion-badge id="cart-badge" color="danger">{{cartcount}}</ion-badge>
        <ion-icon name="send"></ion-icon>
        <ion-label>Cart</ion-label>
         </ion-tab-button>
         <ion-tab-button tab="profile" *ngIf ="token">
            <ion-icon name="send"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-tab-button>
        <ion-tab-button>
                <ion-menu-button autoHide="false"></ion-menu-button>
            </ion-tab-button>
         </ion-tab-bar>
        
        </ion-tabs>
</ion-app>