<ion-app>
    <ion-menu side="end" menuId="first">
        <ion-header>
            <ion-toolbar color="light">
                <ion-title>Ctl<span>kart</span></ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list id="my-content">
                <!-- <ion-item (click)="home()">Home</ion-item>
                <ion-item (click)="shopbycategory()">Shop By Category</ion-item> -->
                <ion-item (click)="getmyorders()" *ngIf="showButton || token">My Orders</ion-item>
                <ion-item (click)="viewabout()">About US</ion-item>
                <ion-item (click)="viewterms()">Terms & conditions</ion-item>
                <ion-item (click)="viewfaq()">FAQ</ion-item>
                <!-- <ion-item (click)="logout()" *ngIf="showButton || token">Logout</ion-item> -->
                <ion-item (click)="login()" *ngIf="!token">Login</ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>


</ion-app>