<ion-header no-border-bottom>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon name="arrow-back" (click)="back()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h3 class="loginTitle">Forget Password</h3>
    <div style="padding: 30px 15px 5px;">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <div class="formList">
                <ion-label position="stacked">Email
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input [(ngModel)]="forget.email" required type="email"></ion-input>
            </div>
        </ion-list>
    </div>
    <div>
        <ion-text class="loginBtn" color="cart" (click)="forgetPassword()">Submit</ion-text>
    </div>
</ion-content>