ion-buttons {
    ion-icon {
        color: #000;
        font-size: 20px;
        padding-left: 10px;
    }
}

.addressColumn {
    background: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
    color: #333;
    border-radius: 5px;
    .manageAd {
        padding: 15px 15px 15px;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: right;
        li {
            display: inline-block;
            width: 50%;
            text-align: center;
            ion-text {
                padding: 10px;
                display: block;
                &.editBtn {
                    color: #fca411;
                    background: #fff;
                    padding: 10px 0px 10px 0px;
                    font-size: 15px;
                    border-top: 1px solid #ccc;
                    border-left: 1px solid #ccc;
                }
                &.DeleteBtn {
                    color: #000;
                    background: #fff;
                    padding: 10px 0px 10px 0px;
                    font-size: 15px;
                    border-top: 1px solid #ccc;
                }
            }
        }
    }
    p {
        padding: 5px 0 0;
        margin: 0;
    }
}

ion-fab {
    // bottom: 75px;
    box-shadow: none;
}

.addCircle {
    --background: #fca411;
}