<ion-content class="f6bg">
    <!-- <div class="LogoFull">
      <h2>CTL<span>Kart</span>.</h2>
      <h6>Your Online Store</h6>
  </div> -->
    <div class="onboard-logo">
        <div class="onboardimg">
            <img src="assets/img/success.png" />
        </div>
        <div class="successContent">
            <h2>Success!</h2>
            <p>Your order will be delivered soon.</p>
            <p>Thank you for choosing our app!</p>
        </div>
    </div>
    <div style="padding:10px;">
        <ion-text class="loginBtn" shape="round" expand="block" (click)="continueshopping()">Continue Shopping</ion-text>
    </div>
</ion-content>