<ion-header no-border-bottom>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
            <ion-icon name="arrow-back" (click)="back()"></ion-icon>
        </ion-buttons>
        <ion-title>Edit</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid *ngIf="type != 'address'">
        <ion-row>
            <ion-col class="edit-profile">
                <ion-input value="{{name}}" [(ngModel)]="profile.name"></ion-input>
                <ion-input value="{{email}}" [(ngModel)]="profile.email"></ion-input>
                <ion-input value="{{mobile}}" [(ngModel)]="profile.mobile"></ion-input>
            </ion-col>
        </ion-row>
        <br>
        <div style="padding:0px 10px;">
            <ion-grid>
                <ion-row>
                    <ion-col size="6">
                        <ion-text class="cancelBtn" color="cart" (click)="back()">Cancel</ion-text>
                    </ion-col>
                    <ion-col size="6">
                        <ion-text class="loginBtn" color="cart" (click)="editprofile()">Save</ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <br>
    </ion-grid>
    <div *ngIf="type == 'address'">
        <div>
            <ion-list lines="full" class="ion-no-margin ion-no-padding">
                <ion-item>
                    <ion-label position="stacked">Flat No / Area / Street
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input value="{{getaddress.address}}" [(ngModel)]="addresss.address" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Landmark
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input value="{{getaddress.landmark}}" [(ngModel)]="addresss.landmark" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">City
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input value="{{getaddress.city}}" [(ngModel)]="addresss.city" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">State
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input value="{{getaddress.state}}" [(ngModel)]="addresss.state" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Zipcode
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input value="{{getaddress.zipcode}}" [(ngModel)]="addresss.zipcode" type="text"></ion-input>
                </ion-item>

            </ion-list>
            <br>
            <div style="padding:0px 10px;">
                <ion-grid>
                    <ion-row>
                        <ion-col size="6">
                            <ion-text class="cancelBtn" color="cart" (click)="back()">Cancel</ion-text>
                        </ion-col>
                        <ion-col size="6">
                            <ion-text class="loginBtn" color="cart" (click)="editaddress(getaddress.id)">Save</ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
    </div>
</ion-content>