<ion-header no-border-bottom>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
            <ion-icon name="arrow-back" (click)="back()"></ion-icon>
        </ion-buttons>
        <ion-title *ngIf="type == 'address'">Edit Address</ion-title>
        <ion-title *ngIf="type != 'address'">Edit Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-grid *ngIf="type != 'address'">
        <form [formGroup]="profileForm">
            <ion-row>
                <ion-col class="edit-profile">
                    <ion-input type="text" formControlName="firstname"></ion-input>
                    <!-- <p *ngIf="!profileForm.controls.firstname.valid && (profileForm.controls.firstname.dirty || submitAttempt)" class="err-reds shake">Please enter firstname.</p> -->
                    <ion-input type="text" formControlName="lastname"></ion-input>
                    <!-- <p *ngIf="!profileForm.controls.lastname.valid && (profileForm.controls.lastname.dirty || submitAttempt)" class="err-reds shake">Please enter lastname.</p> -->
                    <ion-input type="email" formControlName="email"></ion-input>
                    <!-- <p *ngIf="!profileForm.controls.email.valid && (profileForm.controls.email.dirty || submitAttempt)" class="err-reds shake">Please enter email.</p> -->
                    <ion-input type="number" formControlName="mobile"></ion-input>
                    <!-- <p *ngIf="!profileForm.controls.mobile.valid && (profileForm.controls.mobile.dirty || submitAttempt)" class="err-reds shake">Please enter mobile number.</p> -->
                </ion-col>
            </ion-row>
        </form>
        <br>
        <div style="padding:0px 10px;">
            <ion-grid>
                <ion-row>
                    <ion-col size="6">
                        <ion-text class="cancelBtn" color="cart" (click)="back()">Cancel</ion-text>
                    </ion-col>
                    <ion-col size="6">
                        <ion-text class="loginBtn" color="cart" (click)="editprofile()">Save</ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <br>
    </ion-grid>
    <div *ngIf="type == 'address'">
        <div class="editAddress">
            <ion-list lines="full" class="ion-no-margin ion-no-padding">
                <form [formGroup]="addressForm">
                    <ion-label>Address
                    </ion-label>
                    <ion-item>
                        <ion-label position="stacked">Name
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input formControlName="name" type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Mobile
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input formControlName="mobile" type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Flat No / Area / Street
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input formControlName="address" type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Landmark
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input formControlName="landmark" type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">City
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input formControlName="city" type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">State
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input formControlName="state" type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Zipcode
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input formControlName="zipcode" type="text"></ion-input>
                    </ion-item>
                    <br>
                    <ion-list>
                        <ion-label>Address Type
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-list>
                            <ion-radio-group (ionChange)="radioGroupChange($event)">
                                <ion-item>
                                    <ion-label>Home</ion-label>
                                    <ion-radio slot="start" value="home" formControlName="address_type"></ion-radio>
                                </ion-item>

                                <ion-item>
                                    <ion-label>Work</ion-label>
                                    <ion-radio slot="start" value="work"  formControlName="address_type"></ion-radio>
                                </ion-item>
                            </ion-radio-group>
                        </ion-list>

                    </ion-list>
                </form>
            </ion-list>
            <br>
            <div *ngIf="type == 'address'" style="padding:0px 10px;">
                <ion-grid>
                    <ion-row>
                        <ion-col size="6">
                            <ion-text class="cancelBtn" color="cart" (click)="back()">Cancel</ion-text>
                        </ion-col>
                        <ion-col size="6">
                            <ion-text class="loginBtn" color="cart" (click)="editaddress(getaddress.id)">Save</ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
    </div>
</ion-content>