<ion-header no-border-bottom>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
            <ion-icon name="arrow-back" (click)="back()"></ion-icon>
        </ion-buttons>
        <ion-title>Ctl<span>kart</span></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="Myprofile">
        <div class="profile-edit">
                <span class="profile-img">
                  <img src="assets/img/icon.png"/>
                </span>
                <p text-capitalize>{{name}}</p>
                <button  (click)="editProfile()" class="edit-profile-btn">
                  <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Edit Profile
                </button>
        </div>  
        <div class="profile-view">
                <div class="listed-profiles" color="mistyrose">
                        <p>{{email}}</p>
                        <p>{{mobile}}</p>
                        <p (click)="changepassword()">Change Password</p>
                        <p (click)="address()">Delivered Addresses</p>
                        <p (click)="logout()">Logout</p>
                        <p (click)="deleteaccount()">Delete Account</p>
                </div>
        </div>

</ion-content>