<ion-header no-border-bottom>
    <ion-toolbar>
        <!-- <ion-buttons slot="start">
            <ion-icon name="arrow-back" (click)="back()"></ion-icon>
        </ion-buttons> -->
        <ion-title>My Profile</ion-title>
        <ion-buttons slot="end" (click)="editProfile()">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content class="Myprofile">
    <div class="profile-edit">
        <span class="profile-img">
                  <img [src]="imageUrl + profile_image"/>
                </span>
        <p class="name" text-capitalize>{{name}} {{lastname}}</p>
        <p class="mail">{{email}}</p>
        <p class="mobile">+91 {{mobile}}</p>

    </div>
    <div class="profile-view">
        <div class="listed-profiles" color="mistyrose">
            <p (click)="changepassword()">
                <ion-icon name="lock"></ion-icon>Change Password</p>
            <p (click)="address()">
                <ion-icon name="pin"></ion-icon>Manage Addresses</p>
            <p (click)="logout()">
                <ion-icon name="log-out"></ion-icon>Logout</p>
            <p (click)="deleteaccount()">
                <ion-icon name="exit"></ion-icon>Delete Account</p>
        </div>
    </div>

</ion-content>