app-dashboard {
     :root {
        --ion-safe-area-top: 20px;
        --ion-safe-area-bottom: 22px;
    }
    .swiper-slide {
        display: block;
    }
    ion-slide>h2 {
        margin-top: 2.8rem;
    }
    ion-slide>img {
        max-height: 50%;
        max-width: 60%;
        margin: 36px 0;
    }
    .img {
        height: 100px;
        width: 100px;
    }
    .swiper-slide img {
        width: 100% !important;
        max-width: 100% !important;
        height: 175px !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .swiper-pagination {
        display: none;
    }
    .item.item-trns {
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
    }
    ion-content {
        ion-slides {
            .swiper-wrapper {
                ion-slide {
                    img {
                        width: 100%;
                        height: 120px;
                    }
                }
            }
        }
    }
}

.innerSlider {
    padding: 15px 10px;
    background: #f7f7f7;
    ion-grid {
        padding-bottom: 15px;
        ion-row {
            ion-col {
                h3 {
                    color: #000;
                    margin: 0;
                    padding: 0;
                    font-size: 20px;
                }
                a {
                    text-align: right;
                    color: #666;
                    float: right;
                    text-decoration: none;
                }
            }
        }
    }
    ion-slides {
        .swiper-wrapper {
            ion-slide {
                .categorysliderdash {
                    img {
                        width: 120px !important;
                        height: 120px !important;
                    }
                }
            }
        }
    }
}

.bgWhite {
    background: #fff !important;
}

.categorysliderdash {
    width: 100%;
    background: #fff;
    margin: 10px 5px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    vertical-align: middle;
    min-height: 194px;
    padding: 10px 0;
    ion-label {
        color: #000;
        width: 100%;
        display: block;
        padding: 5px 7px;
        // height: 46px;
        font-weight: 500;
        text-transform: capitalize;
        line-height: 24px;
        font-size: 16px;
    }
    ion-text {
        color: #f1a40a;
        padding: 0 0 3px;
        display: block;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.2px;
    }
}

.categorydash {
    width: 100%;
    margin: 0px 5px;
    border-radius: 5px;
    vertical-align: middle;
    // min-height: 194px;
    padding: 10px 0;
    img {
        width: 90px !important;
        height: 90px !important;
        margin: 0 auto;
        background: #fff;
        border: 3px solid #fff;
        border-radius: 50%;
    }
    ion-label {
        color: #000;
        width: 100%;
        display: block;
        padding: 5px 7px;
        font-weight: 500;
        text-transform: capitalize;
        line-height: 24px;
        font-size: 16px;
    }
}

.categorysliderdash img {
    width: 120px !important;
    height: 120px !important;
    margin: 0 auto;
}