<ion-header no-border-bottom>
    <ion-toolbar color="grey">
        <ion-title>Explorer</ion-title>
    </ion-toolbar>
    <ion-toolbar class="ion-searchbar">
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        <!-- <ion-searchbar [(ngModel)]="term.searchText" (keyup.enter)="getItems(term.searchText)"></ion-searchbar> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <ion-slides initialSlide="0" pager="true" loop="true" [options]="sliderConfigimage">
            <ion-slide>
                <img class="img" src="../../assets/img/banner-1.png" />
            </ion-slide>

            <ion-slide>
                <img class="img" src="../../assets/img/banner-2.png" />
            </ion-slide>

            <ion-slide>
                <img class="img" src="../../assets/img/banner-3.png" />
            </ion-slide>
        </ion-slides>
    </div>
    <div class="innerSlider ">
        <ion-grid>
            <ion-row class="dash-title">
                <ion-col size="6">
                    <h3>Category</h3>
                </ion-col>
                <ion-col size="6">
                    <a href="Javascript:" [routerLink]="[('/category')]">See All</a>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-slides [options]="sliderConfig">
            <ion-slide *ngFor="let cat of getallcategories">
                <div class="categorydash">
                    <img (click)="filterbyCategory(cat.category_id)" [src]="imgURl + cat.category_image" />
                    <ion-label (click)="filterbyCategory(cat.category_id)">{{cat.category_name}}</ion-label>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
    <div class="innerSlider bgWhite">
        <ion-grid>
            <ion-row class="dash-title">
                <ion-col size="6">
                    <h3>Latest Products</h3>
                </ion-col>
                <ion-col size="6">
                    <a href="Javascript:" [routerLink]="[('/category')]">See All</a>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-slides [options]="sliderConfigProduct">
            <ion-slide *ngFor="let product of getProductLists">
                <div class="categorysliderdash">
                    <img [src]="imgURl + product.product_image" (click)="viewsingleproduct(product.id)" />
                    <ion-label (click)="viewsingleproduct(product.id)">{{product.product_name}}</ion-label>
                    <ion-text>{{product.price | currency : "INR"}}</ion-text>
                </div>
            </ion-slide>
        </ion-slides>
    </div>


    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

</ion-content>