<ion-header no-border-bottom>
    <ion-toolbar color="grey">
        <ion-title *ngIf="!toggled">
            <h2>CTL<span>Kart</span>.</h2>
        </ion-title>
        <ion-title *ngIf="!toggled">
            <h6>Your Online Store</h6>
        </ion-title>
        <ion-buttons slot="end">
            <ion-icon class="searchIcOn" *ngIf="!toggled" (click)="toggle()" name="search"></ion-icon>
        </ion-buttons>
        <ion-searchbar *ngIf="toggled" [(ngModel)]="term.searchText" (keyup.enter)="getItems(term.searchText)" (ionCancel)="cancelSearch($event)" (ionClear)="cancelSearch($event)" [showCancelButton]="true">
        </ion-searchbar>
    </ion-toolbar>
    <!-- <ion-toolbar class="ion-searchbar">
        <ion-searchbar [(ngModel)]="term.searchText" (keyup.enter)="getItems(term.searchText)"></ion-searchbar>
    </ion-toolbar> -->
</ion-header>

<ion-content class="bgWhite">
    <div>
        <ion-slides initialSlide="0" pager="true" loop="true" [options]="sliderConfigimage">
            <ion-slide>
                <img class="img" src="../../assets/img/1.jpg" />
            </ion-slide>

            <ion-slide>
                <img class="img" src="../../assets/img/2.jpg" />
            </ion-slide>

            <ion-slide>
                <img class="img" src="../../assets/img/3.jpg" />
            </ion-slide>
        </ion-slides>
    </div>
    <div class="innerSlider ">
        <ion-grid>
            <ion-row class="dash-title">
                <ion-col size="6">
                    <h3>Category</h3>
                </ion-col>
                <ion-col size="6">
                    <!-- <a href="Javascript:" (click)="seecategory()">See All</a> -->
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-slides [options]="sliderConfig">
                <ng-container *ngFor="let cat of getallcategories">
            <ion-slide *ngIf="cat.status != 2" (click)="filterbyCategory(cat.category_id)">
                <div class="categorydash">
                    <div class="categoryImage">
                        <img (click)="filterbyCategory(cat.category_id)" [src]="imgURl + cat.category_image" />
                    </div>
                    <ion-label (click)="filterbyCategory(cat.category_id)">{{cat.category_name}}</ion-label>
                </div>
            </ion-slide>
            </ng-container>
        </ion-slides>
    </div>
    <div class="innerSlider bgWhite">
        <ion-grid>
            <ion-row class="dash-title">
                <ion-col size="6">
                    <h3>Latest Products</h3>
                </ion-col>
                <ion-col size="6">
                    <!-- <a href="Javascript:" (click)="seecategory()">See All</a> -->
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-slides [options]="sliderConfigProduct">
            <ion-slide *ngFor="let product of getProductLists" (click)="viewsingleproduct(product.id)">
                <div class="categorysliderdash">
                    <img [src]="imgURl + product.product_image" (click)="viewsingleproduct(product.id)" />
                    <ion-label (click)="viewsingleproduct(product.id)">{{product.product_name}}</ion-label>
                    <!-- <ion-text>{{product.price | currency : "INR"}}</ion-text> -->
                </div>
            </ion-slide>
        </ion-slides>
    </div>


    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

</ion-content>