
ion-buttons {
    ion-icon {
        color: #000;
        font-size: 20px;
        padding-left: 10px;
    }
}
ion-header{
    h2 {
        padding: 0 0 5px;
        margin: 0;
        font-size: 24px;
        font-weight: 900;
    }
    }
    .successContent {
        p {
            padding: 0;
            margin: 0;
            line-height: 26px;
        }
        h2{
            margin-top: 18px;
            font-size: 20px;
            font-weight: 500; 
        }
    }