<ion-header no-border-bottom>
    <ion-toolbar>
        <ion-buttons slot="start" *ngIf="!toggled">
            <ion-icon name="arrow-back" (click)="back()"></ion-icon>
        </ion-buttons>
        <ion-title *ngIf="!toggled">My Order</ion-title>
        <ion-buttons slot="end">
            <ion-icon class="searchIcOn" *ngIf="!toggled" (click)="toggle()" name="search"></ion-icon>
        </ion-buttons>
        <ion-searchbar *ngIf="toggled" [(ngModel)]="term.searchText" (keyup.enter)="getItems(term.searchText)" (ionCancel)="cancelSearch($event)" (ionClear)="cancelSearch($event)" [showCancelButton]="true">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment class="myOrderTabs" [(ngModel)]="getmyorders">
        <ion-segment-button checked value="processing" (click)="getprocessingorders(user_id)">
            <ion-label>Processing</ion-label>
        </ion-segment-button>
        <ion-segment-button value="delivered" (click)="getdeliveredorders(user_id)">
            <ion-label>Delivered</ion-label>
        </ion-segment-button>
        <ion-segment-button value="cancelled" (click)="getcancelledorders(user_id)">
            <ion-label>Cancelled</ion-label>
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="getmyorders">
        <div *ngSwitchCase="'delivered'">
            <div class="productList" *ngFor="let order of getallmydeliveredlists">
                <ion-list (click)="viewsingleorder(order.order_id,order.status)">
                    <ion-row>
                        <ion-col size="7">
                            <p>Order No: <b><span>{{order.order_id}}</span></b></p>
                        </ion-col>
                        <ion-col size="5">
                            <p class="text-right">{{order.ordered_date | date: 'dd/MM/yyyy'}}</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="6" *ngIf="order.status == 3" style= "padding-left: 15px;">
                            <ion-text color="success">Delivered</ion-text>
                        </ion-col>
                        <ion-col size="6">
                            <p class="text-right">Items:&nbsp;&nbsp;<span><b>{{order.itemslength}}</b></span></p>
                        </ion-col>

                    </ion-row>
                    <ion-row class="viewMoreDetails">
                        <ion-col size="6">

                        </ion-col>
                        <ion-col size="6">
                            <ion-text size="small" color="light" outline>View Details <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </ion-text>
                        </ion-col>
                        <!-- <ion-col size="6">
                            <ion-badge class="text-Delivered text-right"><b>Delivered</b></ion-badge>
                        </ion-col> -->
                    </ion-row>
                </ion-list>
            </div>
        </div>
        <div *ngSwitchCase="'processing'">
            <div class="productList" *ngFor="let order of getallmyprocessinglists">
                <ion-list>
                    <ion-row (click)="viewsingleorder(order.order_id,order.status)">
                        <ion-col size="7">
                            <p>Order No: <b>{{order.order_id}}</b></p>
                        </ion-col>
                        <ion-col size="5">
                            <p class="text-right">{{order.ordered_date | date: 'dd/MM/yyyy'}}</p>
                        </ion-col>
                    </ion-row>
                    <ion-row (click)="viewsingleorder(order.order_id,order.status)">
                            <ion-col size="6" *ngIf="order.status == 1" style= "padding-left: 15px;">
                                    <ion-text color="success">Processing</ion-text>
                                </ion-col>
                                <ion-col size="6" *ngIf="order.status == 2" style= "padding-left: 15px;">
                                    <ion-text color="success">Shipped</ion-text>
                                </ion-col>
                                <ion-col size="6" *ngIf="order.status == 0" style= "padding-left: 15px;">
                                    <ion-text >Pending</ion-text>
                                </ion-col>
                        <ion-col size="6">
                            <p class="text-right">Items:&nbsp;&nbsp;<span><b>{{order.itemslength}}</b></span></p>
                        </ion-col>
                        

                    </ion-row>
                    <ion-row class="viewMoreDetails" (click)="viewsingleorder(order.order_id,order.status)">
                        <ion-col size="6">

                        </ion-col>
                        <ion-col size="6">
                            <ion-text size="small" color="light" outline>View Details <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </ion-text>
                        </ion-col>
                        <!-- <ion-col size="6">
                            <ion-badge class="text-Processing text-right"><b>Processing</b></ion-badge>
                        </ion-col> -->
                    </ion-row>
                </ion-list>
            </div>
        </div>
        <div *ngSwitchCase="'cancelled'">
            <div class="productList" *ngFor="let order of getallmycancelledlists">
                <ion-list (click)="viewsingleorder(order.order_id,order.status)">
                    <ion-row>
                        <ion-col size="7">
                            <p>Order No: <b>{{order.order_id}}</b>
                            </p>
                        </ion-col>
                        <ion-col size="5">
                            <p class="text-right">{{order.ordered_date | date: 'dd/MM/yyyy'}}</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                            <ion-col size="6" *ngIf="order.status == 4" style= "padding-left: 15px;">
                                    <ion-text color="red">Cancelled</ion-text>
                                </ion-col>
                        <ion-col size="6">

                            <p class="text-right">Items:&nbsp;&nbsp;<span><b>{{order.itemslength}}</b></span></p>
                        </ion-col>

                    </ion-row>
                    <ion-row class="viewMoreDetails">
                        <ion-col size="6">

                        </ion-col>
                        <ion-col size="6">
                            <ion-text size="small" color="light" outline>View Details <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </ion-text>
                        </ion-col>
                        <!-- <ion-col size="6">

                            <ion-badge class="text-cancel text-right"><b>Cancelled</b></ion-badge>
                        </ion-col> -->
                    </ion-row>
                </ion-list>
            </div>
        </div>
    </div>

</ion-content>