<ion-header no-border-bottom>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
            <ion-icon name="arrow-back" (click)="back()"></ion-icon>
        </ion-buttons>
        <ion-title>My Order</ion-title>
        <ion-buttons slot="end" (click)="viewcart()">
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            <ion-badge id="cart-badge" color="danger">{{cartcount}}</ion-badge>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="productList" *ngFor="let order of getallmyorderlists | products:'ordered_date'">{{order.key}}
        <ion-item *ngFor="let data of order.value" (click)="viewsingleorder(data.id)">
            <ion-thumbnail slot="start">
                <img [src]="imageUrl + data.product_image">
            </ion-thumbnail>
            <ion-label>
                <h3>{{data.product_name}}</h3>
                <p><i class="fa fa-inr"></i>{{data.amount | number : '1.2-2'}}</p>
                <!-- <p>{{order.ordered_date}}</p> -->
            </ion-label>
            <ion-badge slot="end">delivered</ion-badge>
        </ion-item>
    </div>
</ion-content>