<ion-header no-border-bottom>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon name="arrow-back" (click)="back()"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end" (click)="viewcart()">
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            <ion-badge id="cart-badge" color="danger">{{cartcount}}</ion-badge>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="viewDetailsPage">
    <ion-card *ngFor="let single of getsingleProductList">
        <div class="circlebg">
            <img [src]="imgURl + single.product_image" />
        </div>

        <ion-card-header>
            <ion-card-title>{{single.product_name}}</ion-card-title>
            <ion-card-subtitle *ngIf = "costperquantity" style="font-weight:800;"><i class="{{currency_icon}}"></i> {{costperquantity | number : '1.2-2'}}</ion-card-subtitle>
            <ion-card-subtitle *ngIf = "!costperquantity" style="font-weight:800;"><i class="{{currency_icon}}"></i> {{single.price | number : '1.2-2'}}</ion-card-subtitle>
        </ion-card-header>
                <ion-item>
                    <button clear (click)="decrementQty()"><ion-icon name="remove" ></ion-icon></button><span>{{item_qty}}</span>
                    <button clear (click)="incrementQty()"><ion-icon name="add" ></ion-icon></button>
                </ion-item>

                <ion-item *ngIf = "costperunits != ''">
                        <ion-label style = "font-weight: 800;">Units</ion-label>
                     
                        <ion-select [(ngModel)]="unitscost" (ionChange)="onChange(unitscost)" style= "padding: inherit;" class="glyphicon">
                            <ng-container *ngFor = "let units of costperunits">
                                    <ion-icon name="remove"></ion-icon>
                            <ion-select-option value = {{units.id}} *ngIf = "units.status != 1">{{units.quantityperunit}} {{units.unittype}} {{units.unitnotes}} - {{htmlStr}} {{units.costperquantity | number : '1.2-2'}}</ion-select-option>
                        </ng-container>
                        </ion-select>
                   
                </ion-item>
        <ion-card-content>
            {{single.product_description}}
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-toolbar>
    <ion-segment *ngFor="let single of getsingleProductList">
        <ion-segment-button value="favorites" checked (click)="shopmore()">
            Shop More
        </ion-segment-button>
        <ion-segment-button *ngIf="!gotocart" value="all" (click)="addproductTocart(single.id,item_qty,single.price)">
            Add To Cart
        </ion-segment-button>
        <ion-segment-button value="favorites" *ngIf="gotocart" value="all" (click)="gotocartpage()">
            Go To Cart
        </ion-segment-button>
    </ion-segment>
</ion-toolbar>