<ion-header no-border-bottom>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon name="arrow-back" (click)="back()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h3 class="loginTitle">Sign Up</h3>
    <form [formGroup]="registerForm">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <div class="formList">
                <ion-label position="floating">First Name
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input formControlName="firstname" required type="text"></ion-input>
            </div>
            <p *ngIf="!registerForm.controls.firstname.valid && (registerForm.controls.firstname.dirty || submitAttempt)" class="err-reds shake">Please enter name.</p>

            <div class="formList">
                <ion-label position="floating">Last Name
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="text" formControlName="lastname"></ion-input>
            </div>
            <p *ngIf="!registerForm.controls.lastname.valid && (registerForm.controls.lastname.dirty || submitAttempt)" class="err-reds shake">Please enter name.</p>
            <div class="formList">
                <ion-label position="floating">Email
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="email" formControlName="email"></ion-input>
            </div>
            <p *ngIf="!registerForm.controls.email.valid && (registerForm.controls.email.dirty || submitAttempt)" class="err-reds shake">Please enter name.</p>


            <!-- <div class="formList">
                <ion-label>Gender</ion-label>
                <ion-select formControlName="gender">
                    <ion-select-option value="male">Male</ion-select-option>
                    <ion-select-option value="female">Female</ion-select-option>
                </ion-select>
            </div>
            <p *ngIf="!registerForm.controls.gender.valid && (registerForm.controls.gender.dirty || submitAttempt)" class="err-reds shake">Please enter name.</p> -->

            <div class="formList">
                <ion-label position="floating">Mobile Number
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="number" formControlName="mobile"></ion-input>
            </div>
            <p *ngIf="!registerForm.controls.mobile.valid && (registerForm.controls.mobile.dirty || submitAttempt)" class="err-reds shake">Please enter name.</p>

            <!-- <div class="formList">
                <ion-label position="floating">Address</ion-label>
                <ion-input placeholder="Address Line 1" formControlName="addressline1"></ion-input>
                <p *ngIf="!registerForm.controls.addressline1.valid && (registerForm.controls.addressline1.dirty || submitAttempt)" class="err-reds shake">Please enter name.</p>
                <ion-input placeholder="Address Line 2" formControlName="addressline2"></ion-input>
                <p *ngIf="!registerForm.controls.addressline2.valid && (registerForm.controls.addressline2.dirty || submitAttempt)" class="err-reds shake">Please enter name.</p>
                <ion-input placeholder="City" formControlName="city"></ion-input>
                <p *ngIf="!registerForm.controls.city.valid && (registerForm.controls.city.dirty || submitAttempt)" class="err-reds shake">Please enter name.</p>
                <ion-input placeholder="State" formControlName="state"></ion-input>
                <p *ngIf="!registerForm.controls.state.valid && (registerForm.controls.state.dirty || submitAttempt)" class="err-reds shake">Please enter name.</p>
                <ion-input placeholder="Zip Code" formControlName="zipcode"></ion-input>
                <p *ngIf="!registerForm.controls.zipcode.valid && (registerForm.controls.zipcode.dirty || submitAttempt)" class="err-reds shake">Please enter name.</p>
            </div> -->

            <div class="formList">
                <ion-label position="floating">Password
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="password" formControlName="password"></ion-input>
            </div>
            <p *ngIf="!registerForm.controls.password.valid && (registerForm.controls.password.dirty || submitAttempt)" class="err-reds shake">Please enter name.</p>

        </ion-list>
    </form>
    <div style="padding:10px;">
        <ion-text class="loginBtn" color="cart" (click)="submit()">Create Account</ion-text>
        <ion-text class="registerBtn">Already have an account? <span (click)="Login()">Login</span></ion-text>
    </div>
</ion-content>